.btn {
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  border: none;
  justify-content: center;
  width: 100%;
}

.lg,
.md {
  padding: 12px 16px;
}

.sm {
  padding: 8px 16px;
}

.fullfilled-btn {
  background-color: var(--primary-500);
  color: var(--white);
}

.fullfilled-btn:hover {
  background-color: var(--primary-700);
}

.fullfilled-btn:disabled {
  background-color: var(--grey-300);
  color: var(--grey-700);
  cursor: default;
}

.outlined-btn {
  background-color: transparent;
  border: 1px solid var(--primary-500);
  color: var(--primary-500);
}

.error {
  background-color: transparent;
  color: var(--error-400);
  border-color: var(--error-400);
}

.outlined-btn.error:hover, .ghost-btn.error:hover {
  background-color: var(--error-100);
} 

.outlined-btn:hover,
.ghost-btn:hover {
  background-color: var(--primary-300);
}

.outlined-btn:disabled {
  background-color: transparent;
  border: 1px solid var(--grey-700);
  color: var(--grey-700);
  cursor: default;
}

.ghost-btn {
  background-color: transparent;
  color: var(--primary-500);
}

.ghost-btn:disabled {
  background-color: var(--grey-100);
  color: var(--grey-700);
  cursor: default;
}

.outlined-error-btn {
  background-color: transparent;
  border: 1px solid var(--error-400);
  color: var(--error-400);
}

.outlined-error-btn:hover {
  background-color: var(--error-100)
}

.rounded {
  border-radius: 50%;
}