.register-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.register-container--left {
  width: 63%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container--left_brand {
  display: flex;
  gap: 12px;
  width: 336px;
  justify-content: center;
}

.register-container--left_brand > h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.register-container--left_inputs > * {
  padding: 8px 0;
}

.register-container--left_inputs_title {
  display: flex;
  justify-content: center;
}

.register-container--left_buttons > Button {
  margin-bottom: 4px;
}

.register-container--right {
  width: 37%;
  background-color: var(--primary-300);
  display: flex;
  align-items: center;
}

.register-container--right_img {
  width: 593px;
  height: 469px;
  flex-shrink: 0;
  position: relative;
  object-fit: cover;
  right: 154px;
}

.register-container--right_img > img {
  object-fit: cover;
}
