.custom-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    border-radius: 24px;
    border: 1px solid var(--grey-300, #BFBFBF);
    background: var(--white, #FFF);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    box-sizing: border-box;
}

label {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}
.label-text{
    color: var(--black, #0C1012);
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.custom-input {
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}
.buttons-container {
    display: flex;
    gap: 24px;
    margin-top: 8px;
    width: 100%;
}

.button {
    flex: 1;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 12px;
    max-height: 60px;
}
.auto-complete{
    width: 100%;
}