.right-hand-side {
  flex: 1 1;
  padding: 48px;
  overflow: auto;
}

.title-bar {
  display: flex;
  margin-bottom: 48px;
  justify-content: space-between;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  width: 500px;
  gap: 10px;
}

.search-bar {
  flex-grow: 1;
}

.events {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  overflow: auto;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main-content {
  display: flex;
  padding: 10px;
  gap: 32px;
}

.button-container {
  position: absolute;
  bottom: 48px;
  right: 48px;
  width: 48px;
  height: 48px;
}

.modal-open {
  position: absolute;
  bottom: 24px;
  right: 24px;
}
