.container{
    position: relative;
    border-width: 1px;
    width:13%;
    border-right: 1px solid #BFBFBF;
    height:100vh;
}

.center{
    position: relative;
    margin: auto;
    width: auto;
    /*border: 1px solid blue;    Use this line to see the perimeter of center*/
    padding: 10px;
    height: 97%;
    overflow: hidden;
    text-overflow: ellipsis;
    gap:10px;
}

.logo{
    display: flex;
    padding-top: 15px;
    padding-bottom: 30px;
}

.buttons{
    justify-content: left;
    height: 85%;
}

.username-button-wrapper {
    display: flex;
    justify-content: left;
    align-items: flex-end; /* Align at the bottom */
    margin-top: auto; /* Push the button to the bottom */
}
.username-button{
    position: absolute;
    width: auto;
    height: auto;
    border: 1px solid blue;
    bottom: 0;
}
.username-button-text{
    padding-left: 20px;
    overflow:hidden;
    text-overflow: ellipsis;
}

.title {
    font-size: 22px;
    font-weight: 550;
}
