.container {
  border-right: 1px solid var(--grey-300);
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
}

.sidebar-header{
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 8px 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.account-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 12px;
  border-radius: 12px;
  background-color: var(--primary-700);
  color: var(--white);
}

.profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 999px;
    background-color: var(--grey-300);
    margin-right: 12px;
}

.profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 999px;
    background-color: var(--grey-300);
    margin-right: 12px;
}

.logout-modal {
    background-color: var(--white);
    border-radius: 12px;
    border: 1px solid var(--grey-300);
    margin: 12px 0;
    padding: 12px;
}