@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');

:root{
  --black:#0C1012;
  --white:#FFFFFF;
  --primary-100:#F6F2FF;
  --primary-300:#A88AE5;
  --primary-500:#471F99;
  --primary-700:#361773;
  --primary-900:#180A33;
  --grey-100:#E0E0E0;
  --grey-300:#BFBFBF;
  --grey-500:#9A9A9A;
  --grey-700:#606060;
  --grey-900:#252525;
  --error-100:#FFDCD9;
  --error-400:#E5493A;
  --success-100:#CEF2D4;
  --success-500:#52CC66;
}

*{
  font-family: 'Nunito Sans', sans-serif;
}

body {
  margin: 0;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
