.inputs-container > *{
    margin-top: 12px;
}

.buttons-container {
    margin-top: 24px;
    display: flex;
    width:86%;
    left: 7%;
}


.input{
    position: relative;
    padding-bottom: 10px;
}
.flex-input{
    display: flex;
    gap: 15px;
}