.inputs-container > *{
    margin-top: 12px;
}

.button-container {
    margin-top: 24px;
}


.input{
    position: relative;
    padding-bottom: 10px;
}
.flex-input{
    display: flex;
    gap: 15px;
}